.our-overview-row{
    font-family: 'Rajdhani',sans-serif;
    padding: 8%;
    padding-top: 4%;
    text-align: center;
    overflow: hidden;
}
.our-overview-row h2{
    font-family: 'Rajdhani',sans-serif;
    font-weight: 600;
    font-size: 42px;
}